.carousel {
    margin-bottom: 4rem;
}
  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
  
  /* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    /* background-color: #777; */
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}
.marketing .col-sm-6, .marketing .col-sm-4 {
    margin-bottom: 3.4rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-sm-6 p, .marketing .col-sm-4 p{
    margin-right: .75rem;
    margin-left: .75rem;
}
.marketing .col-sm-10-form {
    margin-bottom: 1.4rem;
    text-align: center;
}
  
.marketing .col-sm-12-form {
    margin-bottom: 3.4rem;
    text-align: center;
}
  /* Featurettes
  ------------------------- */
  
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
  
  /* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
  
    .featurette-heading {
        font-size: 50px;
    }
}
  
@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
/* -------------------------------------------------------------------------------------------------------- */
body, html {
    height: 100%;
    font-family: 'proximanova';
    scroll-behavior: smooth !important;
}
.section-solid-white {
    /* background: #f2f2f2; */
    background: #fff;
}
.section-solid-white2 {
    background: #edeeef;
}
.active {
    color:#d8d8d8;
    /* font-size: bold; */
}
h2.header-white, h2.header-black {
    padding-top: 20px;
    padding-bottom: 10px;
}
h2.header-white, p.white {
    /* color: #bfc4c9; */
    color: #f2f2f2;
}

h2.no-background {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}
h2 span {
    text-align: center;
    letter-spacing: 4px;
    display:table;
    margin:0 auto;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 1px;
}

h2 span.black:before, h2 span.white:before {
    right: 85%;
    content: '';
    display: block;
    width: 400px;
    position: absolute;
    top: 0.6em;
    margin:0 auto;
}
h2 span.black:after, h2 span.white:after {
    left: 85%;
    content: '';
    display: block;
    width: 400px;
    position: relative;
    top: -0.51em;
    margin:0 auto;
}
h2 span.black:before, h2 span.black:after {
    border-top: 4px solid rgba(0, 0, 0, 0.45);
}
h2 span.white:before, h2 span.white:after {
    border-top: 4px solid rgba(255, 255, 255, 0.842);
}
.caption1, .caption2 {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: #333333;
}
.caption1 {
    top: 40%;
}
.caption404 {
    /* background-color: transparent; */
    color:#f2f2f2;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    /* position: relative; */
    padding-top:13%;
    padding-left: 25%;
    padding-right: 25%;
}
.caption1 ,.span.no-border, .caption2 span.no-border{
    background-color: transparent;
    /* color: #bfc4c9; */
    color: #f2f2f2;
    /* color:#333333; */
    /* padding: 0 10px; */
    /* font-size: 35px; */
    
    /* font-weight: bold; */
    letter-spacing: 10px;
    
}


#about, #my_work, #documents, #contact {
    background-color: transparent;
    margin-top: -66px;
    padding-top: 66px;
}
.button {
    border: none;
    font-family:'proximanova', sans-serif;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.download {
    width: 70% !important;
    margin-left:15% !important;
    background-color:#d8d8d8;
    margin-bottom: 3.1rem;
    
}
.button-white {
    background-color: transparent; 
    color: #272727; 
    border: 2px solid #272727;
}

.button-white:hover {
    background-color: #272727;
    color: #f2f2f2;
    text-decoration: none
}

.button-dark {
    background-color: transparent; 
    color: #f2f2f2; 
    border: 2px solid #f2f2f2;
}

.button-dark:hover {
    background-color: #f2f2f2;
    color: #272727;
    text-decoration: none
}
.img1 {

    /* The image used */
    background: url("images/1.jpg");
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img2 {

    /* The image used */
    background: url("images/3.jpg");
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-blend-mode: darken;
    width:100%;
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.darken-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}
@font-face {
    font-family: 'proximanova';
    src: url('fonts/Proxima-Nova-Reg.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('fonts/Proxima-Nova-Reg.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
     font-weight: normal;
     font-style: normal;
  } 

#fade-in span {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
